.short-event {
    position: relative;
    overflow: hidden;

    a {
        @include transition(all .5s);
        display: block;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        color: $color-gray-dark;
        text-decoration: none;
        overflow: hidden;

        &:hover {
            @include filter(grayscale(1));
        }
    }

    .meta-info-container {

        padding: u(14);
        width: 100%;
        background: $color-white;
    }

        h3 {
            margin: u(5 0);
            font-weight: normal;
            font-size: u(32);
            font-family: $font-family-gotham-bold;
            line-height: u(32);
        }

        .meta-info {
            display: block;
            text-transform: uppercase;

            font-size: u(16);
            font-family: $font-family-bebas;
            line-height: u(18);
        }

}

.event-single {
    margin-bottom: u(30);
    height: u(415);

    &.-featured {
        height: u(523);

        img {
            width: u(676);
            height: u(356);
        }
    }

    a {
        @include transition(all .5s);
        display: block;
        height: 100%;
        background: $color-white;
        color: $color-gray-dark;
        text-decoration: none;

        &:hover {
            @include filter(grayscale(1));
        }
    }

        img {
            width: u(325);
            height: u(224);
        }

        figcaption {
            padding: u(15 13);

            h3 {
                margin: u(5 0);
                font-weight: normal;
                font-size: u(32);
                font-family: $font-family-gotham-bold;
                line-height: u(32);
            }

            .meta-info {
                display: block;
                text-transform: uppercase;
                font-size: u(16);
                font-family: $font-family-bebas;
                line-height: u(18);
            }
        }

    .-user-remove {
        background: $color-red;
        position: absolute;
        top: 0;
        left: 50%;
        height: u(20);
        width: u(100);
        margin-left: u(-50);
        text-align: center;
        color: #fff;
        font-size: u(12);
        line-height: u(20);
        text-transform: uppercase;

        @media print {
            display: none;
        }
    }
}
